Source: setedit
Section: editors
Priority: optional
Maintainer: Ivan Baldo <lubaldo@adinet.com.uy>
Build-Depends: perl5, make, rhtvision-dev, gzip, debhelper, libpcre2-dev, zlib1g-dev, texinfo
Standards-Version: 3.1.0

Package: setedit
Section: editors
Architecture: any
Depends: ${shlibs:Depends}
Recommends: man
Suggests: grep, doc-base, texinfo
Description: SET's Editor - An editor for programmers
 SET's Editor is a friendly text editor; it was designed to be used
 by programmers; the main target of the editor is C and C++ code but
 it can be used for other tasks and supports syntax highlight for
 more than 24 languages. It have a user interface very easy to
 understand  for people that used non-UNIX programs (real windows,
 dialogs, buttons, pull-down menues, mouse, etc.).
 .
 Note from Debian packager: if you aren't a programmer take a look
 at this editor anyway, it is really user friendly, easy to use yet
 powerful. Also, it has syntax highlight for a lot of files, macros,
 pseudo macros, and a lot more features.

Package: infview
Section: doc
Architecture: any
Depends: ${shlibs:Depends}
Recommends: man
Suggests: doc-base
Description: SET's InfoViewer - An info documentation browser
 SET's InfoViewer is a friendly text-console-mode GNU Info documentation
 browser. This is the SET's Editor info browser but standalone.
 
